<sly-card title="Input project" subtitle="All labels will be used in stats">
  <div>{{{ project_info }}}</div>
</sly-card>

<sly-card
  title="Step1. Interactive chart"
  subtitle="👉 Click on chart datapoint to show table with corresponding images"
  vertical-gap="10px"
>
  <div>{{{ progress }}}</div>
  <div>{{{ button }}}</div>
  <div>{{{ chart }}}</div>
</sly-card>

<sly-grid template="3fr 2fr">
  <sly-card
    title="Step2. Images table"
    subtitle="👉 Click on table row to preview image"
  >
    <div>{{{ table }}}</div>
  </sly-card>

  <sly-card
    title="Step3. Image preview"
    subtitle="Click table cell to preview image with labels"
  >
    <div>{{{ labeled_image }}}</div>
  </sly-card>
</sly-grid>
