<sly-card
  title="Input project"
  subtitle="All labels will be used in stats"
  style="margin-bottom: 15px"
>
  <div>{{{ project_info }}}</div>
</sly-card>

<sly-card
  title="Interactive chart"
  subtitle="Click on chart to preview corresponding images"
  style="margin-bottom: 10px"
>
  <div>{{{ progress }}}</div>
  <div style="margin-top: 10px">{{{ button }}}</div>
  <div style="margin-top: 10px">{{{ chart }}}</div>
</sly-card>

<sly-card title="Table" subtitle="description" style="margin-bottom: 15px">
  <div>{{{ table }}}</div>
</sly-card>
